.t-scroll {
  --t-scroll-height: 10rem;
  --t-scroll-item-gap: 3rem;
  &__wrapper {
    border: 1px solid #ddd;
    padding: 2.4rem 1.2rem;
    height: var(--t-scroll-height);
    overflow: hidden;
    display: flex;
    gap: var(--t-scroll-item-gap);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--t-scroll-item-gap);
    height: 100%;
    animation: scrollToLeft 10s linear infinite;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 1rem;
    width: max-content;
    span {
      font-size: 4.2rem;
    }

    i {
      font-size: 4.4rem;
    }
  }
}

@keyframes scrollToLeft {
  from {
    transform: translateX(calc(-100% - var(--t-scroll-item-gap)));
  }
}