<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assests/scss/styles.css">
  <link href='../assests/icons/boxicons.min.css' rel='stylesheet'>
  <title>Madam Tham</title>
</head>
<body>
  <header class="header" id="header">
    <nav class="nav container">
      <a href="" class="nav__logo">
        <i class='bx bxs-home-heart'></i>
        <span>Madam Tham</span>
      </a>
      <div class="nav__menu">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#home" class="nav__link">
              <i class='bx bx-home-alt-2'></i>
              <span>
                Home
              </span>
            </a>
          </li>
          <li class="nav__item">
            <a href="#services" class="nav__link">
              <i class='bx bx-shape-circle'></i>
              <span>
                Services
              </span>
            </a>
          </li>
          <li class="nav__item">
            <a href="#value" class="nav__link">
              <i class='bx bx-award' ></i>
              <span>
                Value
              </span>
            </a>
          </li>
          <li class="nav__item">
            <a href="#contact" class="nav__link">
              <i class='bx bx-phone' ></i>
              <span>
                Contact
              </span>
            </a>
          </li>
        </ul>
      </div>
      <a href="#" class="button nav__button">Subcribe</a>
    </nav>
  </header>
  <main class="main">
    <!-- <section class="home section" id="home">
      <div class="home__container container grid">
        <div class="home__data">
          <h1 class="home__title">
            Madam Tham<br> Home light <br> Your life
          </h1>
          <p class="home__description">
            Madam Tham offers premium home cleaning and pet care services. Our professional team ensures spotless living spaces with eco-friendly products and provides loving, attentive care for your pets. Choose Madam Tham for a pristine home and happy pets.
          </p>
          <form action="" class="home__search">
            <i class="bx bxs-map"></i>
            <input type="search" placeholder="Search by location" class="home__search-input">
            <button class="button">Search</button>
          </form>
          <div class="home__value">
            <div>
              <h1 class="home__value-number">9k <span>+</span></h1>
              <span class="home__value-description">
                Premium <br> Product
              </span>
            </div>
            <div>
              <h1 class="home__value-number">2k <span>+</span></h1>
              <span class="home__value-description">
                Happy <br> Customer
              </span>
            </div>
            <div>
              <h1 class="home__value-number">28k <span>+</span></h1>
              <span class="home__value-description">
                Adwards <br> Winning
              </span>
            </div>
            <div>
              <h1 class="home__value-number">9k <span>+</span></h1>
              <span class="home__value-description">
                Premium <br> Product
              </span>
            </div>
          </div>
        </div>
        <div class="home__images">
          <div class="home__orbe"></div>
          <div class="home__img">
            <img src="../assests/img/home.png" alt="">
          </div>
        </div>
      </div>
    </section> -->
    <section class="section t-scroll">
      <div class="container t-scroll__wrapper">
        <div class="t-scroll__inner">
          <div class="t-scroll__item t-scroll__item-1">
            <i class='bx bx-happy-heart-eyes'></i>
            <span>Spotless & Happy!</span>
          </div>
          <div class="t-scroll__item t-scroll__item-2">
            <i class='bx bxs-paint-roll'></i>
            <span>Clean & Care</span>
          </div>
          <div class="t-scroll__item t-scroll__item-3">
            <i class='bx bxs-shield-plus'></i>
            <span>Purrfect Clean</span>
          </div>
          <div class="t-scroll__item t-scroll__item-4">
            <i class='bx bxs-universal-access'></i>
            <span>Shining & Joyful</span>
          </div>
          <div class="t-scroll__item t-scroll__item-5">
            <i class='bx bxs-dog' ></i>
            <span>Tail-Wag Clean</span>
          </div>
          <div class="t-scroll__item t-scroll__item-6">
            <i class='bx bxs-cat' ></i>
            <span>Home & Pet Clean</span>
          </div>
          <div class="t-scroll__item t-scroll__item-7">
            <i class='bx bxs-color' ></i>
            <span>Expert Care</span>
          </div>
          <div class="t-scroll__item t-scroll__item-8">
            <i class='bx bxl-mongodb' ></i>
            <span>Clean Excellence</span>
          </div>
        </div>
        <div class="t-scroll__inner">
          <div class="t-scroll__item t-scroll__item-1">
            <i class='bx bx-happy-heart-eyes'></i>
            <span>Spotless & Happy!</span>
          </div>
          <div class="t-scroll__item t-scroll__item-2">
            <i class='bx bxs-paint-roll'></i>
            <span>Clean & Care</span>
          </div>
          <div class="t-scroll__item t-scroll__item-3">
            <i class='bx bxs-shield-plus'></i>
            <span>Purrfect Clean</span>
          </div>
          <div class="t-scroll__item t-scroll__item-4">
            <i class='bx bxs-universal-access'></i>
            <span>Shining & Joyful</span>
          </div>
          <div class="t-scroll__item t-scroll__item-5">
            <i class='bx bxs-dog' ></i>
            <span>Tail-Wag Clean</span>
          </div>
          <div class="t-scroll__item t-scroll__item-6">
            <i class='bx bxs-cat' ></i>
            <span>Home & Pet Clean</span>
          </div>
          <div class="t-scroll__item t-scroll__item-7">
            <i class='bx bxs-color' ></i>
            <span>Expert Care</span>
          </div>
          <div class="t-scroll__item t-scroll__item-8">
            <i class='bx bxl-mongodb' ></i>
            <span>Clean Excellence</span>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer section">
    
  </footer>
</body>
</html>