

* {
  box-sizing: border-box;
}

html {
	font-size: 10px; 
  overflow: hidden;

}

body {
  font-size: 1.4rem;
  font-family: var(--body-font);
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}